@import './partials/reset';
@import './partials/colors';
@import './partials/fonts';
@import '~bootstrap/dist/css/bootstrap.min.css';

html,
body {
    font-size: 16px;
}

#nav {
    font-family: 'Karbon Thin', sans-serif;
    font-size: 1.2em;


    .nav-item {
        margin-left: 1em;
        position: relative;



        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            width: 0;
            height: 2px;
            background: $nav-items-border;
            transition: all 0.4s;
        }

        &:hover,
        &.active {
            color: $nav-items;

            &::after {
                width: 100%;
            }
        }

        .nav-link {
            color: $nav-items;
            text-transform: uppercase;




            &.active,
            &:hover {
                color: $nav-items-border;

            }
        }
    }







    .navbar-brand {
        width: 420px;

        @media (max-width: 600px) {
            width: 75%;
        }

        img {
            width: 100%;
            height: auto;
        }
    }
}

.intro {
    background-image: url(../assets/images/estate-solution-intro3.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    min-height: 100vh;

    color: $intro-header;

    &__header {
        text-transform: uppercase;
        padding-top: 40vh;
        font-family: 'Karbon Bold', sans-serif;
        font-size: 3rem;

        @media (max-width: 600px) {
            font-size: 8vmin;
        }



        h2 {
            font-size: .6em;
            padding-top: 1em;
        }


    }
}

.btn {
    transition: all .35s;
    font-family: 'Montserrat SemiBold', sans-serif;
    text-transform: uppercase;
    font-size: .9rem;
    background: $btn-background;
    border-color: #0f7ca5;

    @media (max-width: 600px) {
        font-size: 4vmin;
    }

    &:hover {
        background: $logo-blue;
        border-color: $logo-blue;
        color: $btn-hover;
    }
}

.about {

    padding: 6rem 0 5rem 0;

    h2 {
        font-family: 'Karbon Bold', sans-serif;
        padding-bottom: .5rem;
        position: relative;
        display: inline-block;
        margin-bottom: 4rem;
        cursor: pointer;
        font-size: 2.5rem;

        &::after {
            content: "";
            position: absolute;
            bottom: -8px;
            left: 0;
            width: 65px;
            height: 2px;
            background: $h2-border;
            transition: all .5s ease-in-out;
        }

        &:hover {

            &::after {
                width: 110%;
            }
        }
    }

    p {
        font-family: 'Karbon Thin', sans-serif;
        line-height: 1.8;
        margin-bottom: .7em;
        font-size: 1.1em;
    }

    img {
        width: 100%;
        height: auto;

        &.img-fluid {
            box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        }
    }
}

.services {

    @extend .about;
    background: rgba(19, 53, 121, 0.1);

    .btn {
        font-size: .7rem;
    }

    .card {
        box-shadow: 2px 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        transition: all .3s ease-in-out;
        cursor: pointer;

        &:hover {
            transform: scale(1.05);
        }
    }

    .h5 {
        font-family: 'Karbon Bold', sans-serif;
    }

    p {
        font-family: 'Karbon Thin', sans-serif;
    }
}

.contact {
    @extend .about;

    background: $logo-blue;
    color: aliceblue;

    h2 {
        &::after {
            background: white;
        }
    }

    .logo {
        width: 80%;
        height: auto;
        background: white;
        padding: 2em;
    }

    h5 {

        color: $contact-text;
        font-size: 1.2rem;
        font-family: 'Karbon Thin', sans-serif;
        transition: all .3s;
        line-height: 1.5;
        vertical-align: middle;

        &:hover {
            text-shadow: 1px 1px 10px white;
            cursor: pointer;
        }


    }

    i {
        font-size: 1.6rem;
        vertical-align: middle;
        margin-right: 1rem;
        cursor: pointer;
    }

    a {
        color: inherit;
        vertical-align: middle;
        text-decoration: none;
    }

    .icons {

        i {
            padding-right: 2rem;
            transition: all .3s;


            &:hover {
                text-shadow: 1px 1px 10px white;
            }
        }
    }

}

.googleMap {
    height: 450px;
    width: 100%;
    
    #map {
        height: 100%;
        width: 100%;
    }
}
