$nav-items: #ffffff;
$nav-items-border: #ffffff;
$nav-white-background: #ffffff;
$nav-white-items: #1d1d1b;
$nav-items-white-border: #1d1d1b;


$intro-header: #ffffff;
$logo-blue: #133579;
$btn-hover: #ffffff;
$btn-background: #0f7ca5;
$h2-border: #133579;

//$contact-background: #133579;
$contact-background: #ffffff;
//$contact-text: #ffffff;
$contact-text: #212529;
$contact-text-hover: #0f7ca5;
$footer-background: #071a2d;
$footer-color: #ffffff;