$nav-items: #ffffff;
$intro-header: #ffffff;
$nav-items-border: #ffffff;
$logo-blue: #133579;
$btn-hover: #ffffff;
$btn-background: #0f7ca5;
$h2-border: #133579;
$contact-text: #ffffff;
$contact-text-hover: #0f7ca5;
$footer-background: #071a2d;
$footer-color: #ffffff;